version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: berkay_website_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: berkay_db_user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: berkay_website
    volumes:
      - db_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: berkay_website_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "password123"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 admin password123;
      mc mb myminio/berkay-media || true;
      mc anonymous set public myminio/berkay-media;
      exit 0;
      "

volumes:
  minio_data:
  db_data:
